<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <% if current_user?(@user) %>
        <button class="btn btn-primary"><%= link_to "←", user_path(date: @first_day.prev_month) %></button>
        <% end %>
        <span>【<%= l(@first_day, format: :middle) %>】時間管理表</span>
        <% if current_user?(@user) %>
        <button class="btn btn-primary"><%= link_to "→", user_path(date: @first_day.next_month) %></button>
        <% end %>
      </td>
      <td colspan="2">指定勤務開始時間<span><%= l(@user.designated_work_start_time, format: :time) %></span></br>
                      指定勤務終了時間<span><%= l(@user.designated_work_end_time, format: :time) %></span>
      </td>
      <td colspan="2">基本時間
      <span>
      <% if @user.basic_work_time.present? %>
      <%= l(@user.basic_work_time, format: :time) %>
      <% end %>
      </span></td>
      <td>初日<span><%= l(@first_day, format: :short) %></span></td>
    </tr>

    <tr>
      <td>所属:<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %>
      </td>
      <td>コード</td><td><%= @user.employee_number %></td>
      <td>出勤日数<span><%= worked_on_sum %>日</span></td>
      <td>締め<span><%= l(@first_day, format: :short) %></span></td>
    </tr>
  </table>
</div>

<!--上長権限-->
<% if current_user?(@user) && current_user.superior? %>
  <div class="notifications">
    <table>
      <tr>
        <% if @attendance_notifications.present? %>
          <td class="text-danger">【所属長承認申請のお知らせ】
             <span>
               <%= link_to "#{@attendance_notifications.count}件の通知があります", attendances_applicated_user_path(current_user), remote: true, "data-toggle" => "modal" %>
             </span>
          </td>
        <% else %>
        <td>【所属長承認申請のお知らせ】</td>
        <% end %>
      </tr>
      <tr>
        <% if @edit_notifications.present? %>
          <td class="text-danger">【勤怠変更申請のお知らせ】
             <span>
               <%= link_to "#{@edit_notifications.count}件の通知があります", attendances_edit_app_index_user_path(current_user), remote: true, "data-toggle" => "modal" %>
             </span>
          </td>
        <% else %>
          <td>【勤怠変更申請のお知らせ】</td>
        <% end %>
      </tr>
      <tr>
        <% if @overtime_notifications.present? %>
          <td class="text-danger">【残業申請のお知らせ】
            <span>
              <%= link_to "#{@overtime_notifications.count}件の通知があります", attendances_overtime_app_index_user_path(current_user), remote: true, "data-toggle" => "modal" %>
            </span>
          </td>
        <% else %>
          <td>【残業申請のお知らせ】</td>
        <% end %>
      </tr>
    </table>
  </div>
<% end %>

<!--各種お知らせ通知-->
<% if current_user?(@user) || current_user.admin? %>
<button class="btn btn-md btn-primary btn-edit"><%= link_to "勤怠編集", attendances_edit_one_month_user_path(date: @first_day) %></button>
<button class="btn btn-md btn-primary btn-edit"><%= link_to "CSV出力", attendances_output_user_path(date: @first_day, format: :csv) %></button>
<button class="btn btn-md btn-primary btn-edit" data-toggle="modal" data-target="#pastlog-modal">勤怠ログ</button>
<% end %>

<div>
  <table class="table table-bordered table-condensed table-hover attendances-table">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3" class="col-md-1">日付</th>
        <th rowspan="3" class="col-md-1">曜日</th>
        <th colspan="8">実績</th>
        <th colspan="5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th></th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <% if current_user?(@user) %>
              <button class="btn btn-primary"><%= link_to "残業申請", new_user_attendance_overtimenotification_path(current_user, day), remote: true, "data-toggle" => "modal" %></button></td>
            <% end %>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= wday_color(day.worked_on.wday) %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <!--出社時間の場合分け-->
          <% if day.started_at.present? %>
            <td><%= l(day.started_at, format: :time_hour) %></td>
            <td><%= l(day.started_at.floor_to(15.minutes), format: :time_min) %></td>
          <% else%>
            <td></td>
            <td></td>
          <% end %>  
          <td>
            <% if current_user?(@user) || current_user.admin? %>
              <% if text = attendance_started_at(day) %>
                <%= link_to "#{text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </td>
          <!--退社時間の場合分け-->
          <% if day.finished_at.present? %>
            <td><%= l(day.finished_at, format: :time_hour) %></td>
            <td><%= l(day.finished_at.floor_to(15.minutes), format: :time_min) %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <td>
            <% if current_user?(@user) || current_user.admin? %>
              <% if text = attendance_finished_at(day) %>
                <%= link_to "#{text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </td>
          <!--在社時間場合分け-->
          <% if day.finished_at.present? && day.started_at.present? %>
            <td>
              <%= @str_times = working_time(day.finished_at.floor_to(15.minutes), day.started_at.floor_to(15.minutes)) %>
              <% @total_working_times = @total_working_times.to_f + @str_times.to_f %>
            </td>
          <% else %>
            <td></td>
          <% end %>
          <% if applicated_edit_notification(day) %>
            <td><%= @applicated_edit_note %></td>
          <% else %>
            <td></td>
          <% end %>
          <!--終了予定時間-->
          <% if applicated_overtime_detail(day) %>
            <td><%= l(scheduled_end_time = @applicated_scheduled_end_time, format: :time_hour)  %></td>
            <td><%= l(scheduled_end_time, format: :time_min)  %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <!--時間外時間-->
          <% if applicated_edit_notification(day) %>
            <td>
              <% if @applicated_edit_next_day == false %>
                <%= edit_overtime(day.finished_at, @user) %>
              <% else %>
                <%= edit_n_overtime(day.finished_at, @user) %>
              <% end %>
            </td>
            <td></td>
          <% elsif applicated_overtime_detail(day) %>
            <td>
              <% if  @applicated_over_next_day == false %>
                <%= overtime(day.overtimenotification, @user) %>
              <% else %>
                <%= n_overtime(day.overtimenotification, @user) %>
              <% end %>
            </td>
            <td><%= @applicated_note %></td>
          <% else %>
            <td><%= edit_overtime(day.finished_at, @user) if day.started_at.present? && day.finished_at.present? %></td>
            <td></td>
          <% end %>
          <td>
            <% if over_visited_user(day) %>
              <%= @visited_user %><br>
            <% end %>
            <% if set_overtime_status(day) %>
              <%= @app_over_status %><br>
            <% end %>
            <% if edit_visited_user(day) %>
              <%= @edit_visited_user %><br>
            <% end %>
            <%= set_edit_status(day) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed total-table">
      <tr>
        <td class="col-md-1">累計</td>
        <td class="col-md-3">日数：<span><%= l(@last_day, format: :short_day) %>日</span></td>
        <td class="col-md-4">月間勤務日数：<span><%= worked_on_sum %>日</span></td>
        <td>月間在社時間：<span><%= @total_working_times %></span></td>
        <td class="text-danger"><%= @comment if set_attendance_applicate_status %></td>
      </tr>
  </table>
</div>

<!--１ヶ月勤怠申請フォーム-->
<% if current_user?(@user) || current_user.admin? %>
  <% if @text == "所属長承認未" %>
    <div class="applicate_container">
      <div class="month_applicate">
        <p><%= @text %></p>
        <%= form_with(model: @user, url: attendances_applicate_user_path, date: @first_day, local: true, method: :post) do |f| %>
          <%= f.fields_for :attendancenotifications do |fi| %>  
            <%= fi.collection_select :visited_id, User.where(superior: true).where.not(id: current_user), :id, :name, {prompt: "選択してください"}, class: "form-control" %>
            <%= fi.hidden_field :date, value: @first_day %>
          <% end %>
          <%= f.submit "申請", class: "btn btn-primary btn-sm month_form" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<div class="layout_correct"></div>

<!--modal-->
<div id="user-modal" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<div id="pastlog-modal" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <!-- モーダルコンテンツ:モーダルに表示させる内容-->
    <div class="modal-content">
    <!-- &timesは「×ボタン」の表示-->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="hoge">勤怠ログ</h4>
        <div class = "pastlog-form">
          <%= form_with(url: attendances_past_log_user_path, scope: :user, remote: true, id: "date_form") do |f| %> 
            <%= f.datetime_select :result, {start_year: 2019, discard_day: true, discard_hour: true, discard_minute: true, prompt: {year: "年", month: "月"}}, class: "form-control pastlog" %>
            <input type="reset" value="リセット" class="form-control past_reset"/>
          <% end %>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>日付</th>
              <th>変更前出社時間</th>
              <th>変更前退社時間</th>
              <th>変更後出社</th>
              <th>変更後退社</th>
              <th>指示者</th>
              <th>承認日</th>
            </tr>
          </thead>
          <tbody id="result_edit">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $("#user_result_2i").change(function(){
    Rails.fire($("#date_form")[0], "submit");
  });
});

$(function(){
  $(".past_reset").on("click", function(){
    clearform(this.form);
    $("#result_edit").hide();
  });
   
  function clearform (form) {
    $(form)
      .find("select")
      .val("")
      .prop("selected", false)
    ;
  }
  
});
</script>

<div id="superior-modal-month" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<div id="superior-modal" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<div id="superior-edit-modal" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>