<div> 
  <%= form_with(model: @user, url: attendances_edit_app_user_path(date: @first_day), local: true, method: :patch) do |f| %>
    <table class="table table-bordered table-condensed table-hover edit_one_month-table">
      <thead>
        <tr>
          <th class="col-md-1">日付</th>
          <th class="col-md-1">曜日</th>
          <th>出社</th>
          <th>退社</th>
          <th>翌日</th>
          <th class="col-md-1">在社時間</th>
          <th class="col-md-2">備考</th>
          <th class="col-md-2">指示者確認㊞</th>
        </tr>
      </thead>
      <% @attendances.each do |day| %>
        <tbody>
          <%= f.fields_for "editnotification[]", day.editnotification do |editapp| %>
            <tr>
              <td><%= l(day.worked_on, format: :short) %></td>
              <td class="<%= wday_color(day.worked_on.wday) %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
              <td><%= editapp.time_select :after_started_at, include_blank: true, ignore_data:true, class: "form-control" %></td>
              <td><%= editapp.time_select :after_finished_at, include_blank: true, ignore_data:true, class: "form-control" %></td>
              <td><%= editapp.check_box :next_day, {},checked_value = "true",unchecked_value = "false" %></td>
              <td>
                <% if day.finished_at.present? && day.started_at.present? %>
                  <%= @str_times = working_time(day.finished_at, day.started_at) %>
                <% end %>
              </td>
              <td><%= editapp.text_field :note %></td>
              <td><%= editapp.collection_select :visited_id, User.where(superior: true).User.where(superior: true).where.not(id: current_user), :id, :name, {include_blank: true} %></td>
            </tr>
          <% end %>
        </tbody>
     <% end %>
    </table>
   
    <div class="edit_btn">
      <button class="btn btn-primary"><%= link_to "キャンセル", user_path(date: @first_day) %></button>
      <%= f.submit "編集を申請する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>