<!-- モーダルの適切な幅とマージンを設定 -->
<div class="modal-dialog">
  <!-- モーダルコンテンツ:モーダルに表示させる内容-->
  <div class="modal-content">
    <!-- &timesは「×ボタン」の表示-->
      <div class="modal-body mopdal-area">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <%= form_with(model: @editnotification, url: attendances_edit_update_user_path(current_user), method: :patch, local: true) do |f| %>
            <% @edit_notificated_group.each do |key, edit_notifications| %>
              
              <h4>【<%= app_editapp_user(key) %>】からの勤怠変更申請</h4>
        
              <table class="table table-bordered modal-table">
                <thead>
                  <tr>
                  　<th rowspan="3">日付</th>
                    <th rowspan="3">曜日</th>
                    <th colspan="4">変更前</th>
                    <th colspan="4">変更後</th>
                    <th rowspan="3">備考</th>
                    <th rowspan="3">指示者確認㊞</th>
                    <th rowspan="3">変更</th>
                    <th rowspan="3">勤怠を確認する</th>
                  </tr>
                  <tr>
                    <th colspan="2">出社</th>
                    <th colspan="2">退社</th>
                    <th colspan="2">出社</th>
                    <th colspan="2">退社</th>
                  </tr>
                  <tr>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                  </tr>
                </thead>
            <% edit_notifications.each do |applicated_notification| %>
              <%= f.fields_for "editnotification[]", applicated_notification do |fi| %>
                <tbody>
                  <tr>
                    <% set_applicated_attendance(applicated_notification) %>
                      <td><%= l(@applicated_worked_on, format: :short) %></td>
                      <td class="<%= wday_color(@applicated_worked_on.wday) %>"><%= $days_of_the_week[@applicated_worked_on.wday] %></td>
                      <td><%= l(applicated_notification.before_started_at, format: :time_hour) if applicated_notification.before_started_at.present? %></td>
                      <td><%= l(applicated_notification.before_started_at, format: :time_min) if applicated_notification.before_started_at.present? %></td>
                      <td><%= l(applicated_notification.before_finished_at, format: :time_hour) if applicated_notification.before_finished_at.present? %></td>
                      <td><%= l(applicated_notification.before_finished_at, format: :time_min) if applicated_notification.before_finished_at.present? %></td>
                      <td><%= l(applicated_notification.after_started_at, format: :time_hour) %></td>
                      <td><%= l(applicated_notification.after_started_at, format: :time_min) %></td>
                      <td><%= l(applicated_notification.after_finished_at, format: :time_hour) %></td>
                      <td><%= l(applicated_notification.after_finished_at, format: :time_min) %></td>
                      <td><%= applicated_notification.note %>
                      <td><%= fi.select :status, ["", "申請中", "承認", "否認"], {prompt: "申請中"} %></td>
                      <td><%= fi.check_box :checked, {}, checked_value = "true",unchecked_value = "false" %></td>
                      <td><%= link_to "確認", user_path(key, date:@applicated_worked_on.beginning_of_month), target: "_blank", class: "btn btn-primary td-btn" %></td>
                  </tr>
                </tbody>
              <% end %>
            <% end %> 
            </table>
          <% end %>
          <%= f.submit "変更を送信する", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>                                    